// Styles for Plugins
.gform_heading {
	font-size: 1.5rem;
	text-align: center;
	color: #EA9610;
}

.gfield_label {
	color: #EA9610;
}

#gform_submit_button_1 {
	border-color: #EA9610;
	background-color: #EA9610;
	color: #fff;
	width: 100px;
	height: 30px;
	text-align: center;
}